<h3><%= @project_entry.title %></h3>
<p><%= @project_entry.content %></p>
<p>Mood: <%= @project_entry.mood %></p>

<p>Created by: <%= @project_entry.user.name %></p>

<p>created on <%= @project_entry.formatted_created_at %></p>


<% if authorized_to_edit?(@project_entry) %>
  <a href="/project_ideas/<%= @project_entry.id %>/edit">Edit Entry</a>
  <br><br>
  <form class="" action="/project_ideas/<%= @project_entry.id %>" method="post">
    <!-- How do I turn this form submission into a DELETE request??? -->
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
  </form>
<% end %>
